.quote-container {
  margin: 200px auto;
  width: 95%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}

.quoteText {
  margin-top: 40px;
  color: #58585a;
  font-size: 2.5rem;
  line-height: 160%;
  text-align: left;
  border-image: linear-gradient(to top, rgb(223, 108, 0), rgba(240, 239, 239, 0)) 1;
  border-width: 5px;
  border-style: solid;
  border-left: none;
  border-top: none;
  padding: 20px;
  background-color: rgb(243, 243, 243);
}

.cite {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 30px;
  text-decoration: underline;
}

.cite #link {
  color: #58585a;
}
